body
{
    margin: 0;
    padding: 0;
}
header svg{
    margin: 10px;
}
body{
    background-image: url("./photo-1564013799919-ab600027ffc6.jpg");
    background-size:430px 920px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    backface-visibility: calc(10px);
}
main{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 20px;
    margin-left: 10px;  
}
.logo{
    width: 80px;
}
.form{
    border: solid 2px whitesmoke;
    border-radius: 8px;
    width: 310px;
    height: 370px;
    padding: 50px;
    background-color:rgba(245, 245, 245, 0.486);
    padding-bottom: 100px;
    font-family: fantasy;
    font-size: 16px;
    font-weight: bold;
    color: rgb(0, 0, 0);    
}
select{
    margin-bottom: 10px;
}
input{
    border-radius: 5px;
}
button{
    border-radius: 5px;
    background-color:rgb(111, 211, 111);
    border-color: rgb(111, 211, 111) ;
    margin: 20px;
    padding: 5px;
    width: 120px;
}
input{
margin-top: 10px;
margin-bottom: 15px;
}
h1{
    font-family: serif;
    color: rgb(52, 52, 165);
}
#type{
    width :150px;
    border-radius: 5px;
    background-color: white;
}
 article h1{
     position: relative;
    top: -100px;
    font-size: 30px;
    background-color:rgba(245, 245, 245, 0.527)
}
article p{
    position: relative;
    top: -50px;
    margin-top: 50px;
    color: #000;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    background-color:rgba(245, 245, 245, 0.527)
}
@media screen  and (min-width:1280px){
body{
    background-size: cover;
}
form {
    width: 100%;
}
.form {
    width: 500px;
}

main {
    justify-content: space-around;
    width: 80%;
}
}
@media screen and
    (min-width:810px){
    body{
    background-size: cover;
    }
    .logo{
        width: 120px;
    }
    .form{
      /*  width: 100px;
        height: 340px;
    } 
    }